@inherits LayoutComponentBase

<div class="">
    <div>
        <div class="top-row p-0 w-100">
              <NavMenu />
        </div>

        <div class="content p-0">
            @Body
        </div>
    </div>
</div>
